<!DOCTYPE html>
<head>
    <title>Handgun Detector - In Code We Speak</title>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css" />
</head>
<body>
    <div id="container">
        <div id="window">
            <div id="window-content">
                <h1>Handgun Detector</h1>
                <p>Drag and Drop a .jpg or .png file to scan for handguns. </p>
               
                <div id="window-analysis">
                    <p>AI Analysis:<textarea style="width: 99%;resize: none;" id="analysis-text"  readonly></textarea></p>
                    
                </div>
    
                <div id="window-image"></div>
            </div>


        </div>
    </div>
    <div id="footer">
        <p>Developed by In Code We Speak - <a href="./more-information">More Information</a></p>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script> 

<script type="text/javascript" src="static/js/index.js"></script>



</html>